<div class="profile">
  <div class="form">
    <form action="/compare" method="POST">
      <h2 class="page-header">Enter Your Github Username</h2>
      <input
        style="width: 60%; margin-bottom: 3px;"
        type="text"
        name="username1"
        placeholder="username 1"
        value=""
      />
      <input
        style="width: 60%;"
        type="text"
        name="username2"
        placeholder="username 2"
        value=""
      />
      <br />
      <button
        style="width: 55%; margin-top: 7px; border-radius: 3%;"
        class=""
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
  <% if (userProfile1.score > userProfile2.score) { %> <% var x = "green"; var y
  = "red" %> <% } %> <% if (userProfile1.score < userProfile2.score) { %> <% var
  x = "red"; var y = "green" %> <% } %>
  <div class="users">
    <div class="user-profiles <%= x %>">
      <img
        src="<%= userProfile1.avatar %>"
        class="user-profile-image"
        alt=""
        width="140px"
        height="140px"
      />
      <br />
      <h3><%= userProfile1.username %></h3>
      <%= userProfile1.name != "NULL" ? userProfile1.name : "Display Name: NULL"
      %>
      <br />
      Public Repos: <%= userProfile1.public_repos %>
      <br />
      Stars on Repos: <%= userProfile1.repo_stars %>
      <br />
      Followers: <%= userProfile1.followers %>
      <br />
      <div
        id="score1"
        class="profile-score"
        style="font-weight: 600; font-size: large;"
      >
        Score: <%= userProfile1.score %>
      </div>
      <div class="padd"></div>
      <a class="user-profile-link" href="<%= userProfile1.url %>"
        >Profile Link</a
      >
      <div class="padd"></div>
    </div>
    <div class="vs"><h1>V/S</h1></div>
    <div class="user-profiles <%= y %>">
      <img
        src="<%= userProfile2.avatar %>"
        class="user-profile-image"
        alt=""
        width="140px"
        height="140px"
      />
      <br />
      <h3><%= userProfile2.username %></h3>
      <%= userProfile2.name != "NULL" ? userProfile2.name : "Display Name: NULL"
      %>
      <br />
      Public Repos: <%= userProfile2.public_repos %>
      <br />
      Stars on Repos: <%= userProfile2.repo_stars %>
      <br />
      Followers: <%= userProfile2.followers %>
      <br />
      <div
        id="score2"
        class="profile-score"
        style="font-weight: 600; font-size: large;"
      >
        Score: <%= userProfile2.score %>
      </div>
      <div class="padd"></div>
      <a class="user-profile-link" href="<%= userProfile2.url %>"
        >Profile Link</a
      >
      <div class="padd"></div>
    </div>
  </div>
</div>
