<div class="profile">
  <div class="form">
    <form action="/profile" method="POST">
      <h2 class="page-header">Enter Your Github Username</h2>
      <label>User</label>
      <input type="text" name="username" value="" />
      <button class="" type="submit">Search</button>
    </form>
  </div>

  <div class="user-profile">
    <img
      src="<%= userProfile.avatar %>"
      class="user-profile-image"
      alt=""
      width="140px"
      height="140px"
    />
    <br />
    <h3><%= userProfile.username %></h3>
    <%= userProfile.name %>
    <br />
    Public Repos: <%= userProfile.public_repos %>
    <br />
    Followers: <%= userProfile.followers %>
    <br />
    Score: <%= userProfile.score %>
    <div class="padd"></div>
    <a class="user-profile-link" href="<%= userProfile.url %>"
      >Link to Profile</a
    >
    <div class="padd"></div>
  </div>
</div>
